/* navbar */
nav a {
  color: black;
}

/* hero image */


/* kombucha */
.img-circle {
  margin: 0 auto;
  display: block;
}

/* Creator */


/* wrappers */
.wrapper-site {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 60px;
}

.wrapper-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3%;
  text-align: justify;
}

